{{
  "name": "{PACKAGE_NAME}",
  "version": "{PACKAGE_VERSION}",
  "description": "{PACKAGE_NAME} Thrift Library",
  "private": true,
  "keywords": ["thrift","ezbake"],
  "license": "Apache 2.0",
  "author": {{
    "name": "EzBake Developers",
    "email": "developers@ezbake.io"
  }},
  "main": "index.js",
  "repository" : {{
    "type" : "git",
    "url" : "http://{{GIT_REPO}}"
  }}
  {PACKAGE_ADDITIONAL_SETUP_ARGS}
}}