{
  "name": "configurationConstants",
  "version": "0.0.1",
  "private": true,
  "description": "NodeJs rendering of constants template",
  "main": "./lib/constants.js",
  "repository": {
    "type": "git",
    "url": "git@git.lab76.org:ezbake/ezbake-configuration.git"
  },
  "keywords": [
    "ezconfiguration",
    "ezconfig",
    "configuration",
    "config",
    "constants"
  ],
  "author": "Steven Stapleton",
  "license": "ISC"
}
